<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iruna.wiki.model.mapper.AjaxMapper">

	<select id="getItemDeatil" parameterType="String"
		resultType="hashmap">

		SELECT
			  A.KO_NAME AS KO_NAME
			, A.JP_NAME AS JP_NAME
			, A.EN_NAME AS EN_NAME
			, B.IMG_PATH AS IMG_PATH
			, C.ATK AS ATK
			, C.DEF AS DEF
			, C.DROP1 AS DROP1
			, C.DROP2 AS DROP2
			, C.DROP3 AS DROP3
			, C.ETC AS ETC
		FROM
			ITEMS_MASTER A
			LEFT JOIN ITEMS_IMG B
			ON 1=1
				AND A.ITEMS_MASTER_SEQ = B.ITEMS_MASTER_SEQ
			LEFT JOIN ITEMS_DETAIL C
			ON 1=1
				AND A.ITEMS_MASTER_SEQ = C.ITEMS_MASTER_SEQ
		WHERE 1 = 1
			AND A.ITEMS_MASTER_SEQ = ${VALUE}
	</select>

</mapper>
