<div class="">
	<table class="table table-condensed table-bordered table-responsive">
		<tr>
			<th colspan="4">펫 스킬 목록</th>
		</tr>
		<tr>
			<td>STR+1</td>
			<td>STR+2</td>
			<td>정확도+4</td>
			<td>정확도+6</td>
		</tr>
		<tr>
			<td>INT+1</td>
			<td>INT+2</td>
			<td>회피+4</td>
			<td>회피+6</td>
		</tr>
		<tr>
			<td>VIT+1</td>
			<td>VIT+2</td>
			<td>힐 증가량 +50</td>
			<td>힐 증가량 +75</td>
		</tr>
		<tr>
			<td>AGI+1</td>
			<td>AGI+2</td>
			<td>근접+10</td>
			<td>근접+20</td>
		</tr>
		<tr>
			<td>DEX+1</td>
			<td>DEX+2</td>
			<td>아이템 회복률 +2%</td>
			<td>아이템 회복률y +4%</td>
		</tr>
		<tr>
			<td>CRT+1</td>
			<td>CRT+2</td>
			<td>크리티컬 율 +1</td>
			<td>크리티컬 율 +2</td>
		</tr>
		<tr>
			<td>MaxHP+75</td>
			<td>MaxHP+100</td>
			<td>자동 HP@회복 +15</td>
			<td>자동 HP@회복 +25</td>
		</tr>
		<tr>
			<td>MaxMP+25</td>
			<td>MaxMP+50</td>
			<td>자동 MP@회복 +5</td>
			<td>자동 MP@회복 +15</td>
		</tr>
		<tr>
			<td>뱀파이어 블로우 Lv1</td>
			<td>에이드 Lv1</td>
			<td>어썰트 Lv1</td>
			<td>도발 Lv1</td>
		</tr>
		<tr>
			<td>하드히트 Lv1</td>
			<td>회피 Lv1</td>
			<td>프로텍션 Lv1</td>
			<td>마나웨이브 Lv1</td>
		</tr>
		<tr>
			<td>귀환 Lv1</td>
			<td>듀얼 블로우 Lv1</td>
			<td>자가 치유 Lv1</td>
			<td>스펠 부스트 Lv1</td>
		</tr>
		<tr>
			<td>더블 어택 Lv1</td>
			<td>소닉붐 Lv1</td>
			<td>올 어란운드 Lv1</td>
			<td>탈출 Lv1</td>
		</tr>
		<tr>
			<td>하이드 어택 Lv1</td>
			<td>다크 블래스트 Lv1</td>
			<td>라지 실드 Lv1</td>
			<td>퀙 턴 Lv1</td>
		</tr>
		<tr>
			<td>하이 사이클 Lv1</td>
	</table>


	<br /> 1) 펫이란?
	<br /> 솔로 플레이를 하는 동안 애완동물이 지원하여 싸웁니다.
	<br /> 펫은 치유, 공격, 기술배우기, 아이템줍기등을 할 수 있습니다. 
	<br /> 
	<br /> 각각의 펫들은 섬에 출현합니다. 레벨업과 스킬을 배우기 위해 먹이를 주어야 합니다.
	<br /> 
	<br /> 2) 펫을 얻는 법
	<br /> 펫을 얻는방법은 길을 잃은 애완동물, 이벤트, 아이템상점의 3가지 방법이 있습니다.
	<br /> 
	<br /> A) 길을 잃은 애완동물
	<br /> 이것은 애완동물을 얻는 제일 쉽고, 저렴한 방법이라고 생각합니다.
	<br /> 
	<br /> 길을 잃은 애완동물은 섬에 놓은 섬 아이템을 기반으로 갑자기 섬에 나타납니다.
	<br /> 한번 섬에 나타나면 매일 또는 8시간마다 먹이를 주어 애완동물을 소유 할 수 있습니다. 
	<br /> 
	<br /> 길을 잃은 애완동물에게 먹이를 주면, 친화력이 증가하고, 특정 친화력에 도달하면 길 잃은 애완동물은 당신의 것이 됩니다. 
	<br />
	<br /> 그러나 모든 음식이 친화력을 증가시키는 것은 아니기 때문에 길 잃은 애완동물에게 무엇을 먹일지 신중하게 고려해야 합니다. 섬에 있는 모든 종류의 길 잃은 애완동물에게 적합한 음식을 찾아야 합니다.
	<br /> 
	<br /> 만약 당신이 [멋진 애완동물 사료]를 구매할 여유가 있거나, 직접 요리[생산] 할 수 있다면, 이 사료는 친화력을 높이는데에는 모든 애완동물에게 좋습니다. 따라서 길 잃은 애완동물을 자신의 펫으로 만들 수 있습니다.
	<br /> 
	<br /> 길 잃은 애완동물이 당신의 것이 되기 위해서는 500의 친화력이 필요 합니다.
	<br /> 
	<br /> 섬에서 원하지 않은 길 잃은 애완동물이 온경우, 추방하여 다른 길 잃은 애완동물이 나타 날 수 있습니다. 아직 먹이를 주지않았다면, 단순히 로그아웃하고 섬에서 나가면 제거됩니다. 일부 길 잃은 애완동물의 경우 다른 애완동물보다 더 희귀하며, 나타나는데 시간이 걸릴 수 있습니다. 
	<br /> 
	<br /> B) 펫의 알(이벤트 또는 아이템 상점)
	<br /> 애완동물의 알은 이벤트에서 획득하거나 아이템 상점에서 구매 할 수 있습니다.
	<br /> 
	<br /> 이벤트의 애완동물과 아이템 상점의 애완동물이 배울 수 있는 일부 애완동물 스킬을 배울 수 없습니다.
	<br />	(펫 스킬 정보 참조)
	<br /> 
	<br /> 펫 알은 거래 할 수 없습니다.
	<br /> 
	<br /> 길 잃은 애완동물과는 달리 알에서 부화한 애완동물은 특정 친화력(500)이 필요하지 않습니다. 애완동물이 부화되면 이름을 지정 할 수 있습니다. 
	<br /> 
	<br /> 알에서 나온 애완동물은 작게 시작하여 먹이를 주고, 시간이 지남에 따라 결국 성체 크기로 도달합니다. 그러나 그 효과는 약간 눈에 띕니다.
	<br /> 
	<br /> 3) 애완동물이 어떻게 스킬을 얻을 수 있나?
	<br /> 
	<br /> 친화력이 1000, Lv 50 에 도달한 펫은 자동으로 무작위 스킬을 습득합니다. 펫이 Lv75이상이면 친화력 1000을 요구하지 않고도 자동으로 스킬을 배울 수 있습니다.
	<br /> 
	<br /> 애완동물에게 알을 먹이면 애완동물 스킬을 배울 수 도 있습니다.
	<br /> 
	<br /> 500개의 섬포인트에 대해서 스킬을 무작위로 초기화 할 수 있습니다. 섬 포인트는 여러 방법으로 수집 할 수 있습니다. 옆에 별이 있는 스킬은 펫이 보스나 신인경우에만 획득 할 수 있습니다(아이템 샵에서만 획득 가능). 습득한 기술은 무작위이며, 애완동물의 능력치나 먹이와는 관계가 없습니다.
	<br /> 
	<br /> =일부 애완동물 기술=
	<br /> A) 어썰트
	<br /> 적의 방어를 조금 뚫는 공격
	<br /> (MP: 84)
	<br /> 
	<br /> B) 회피
	<br /> AGI +16
	<br /> (MP: 48)
	<br /> (시간: 3 분)
	<br /> 
	<br /> C) 응급치료
	<br /> 자신을 치유합니다. 당신이 받는 치유량은 당신의 레벨과 MP의 양에 따라 결정됩니다. 다른 사람을 치료 하는데 사용 할 수 없습니다.
	<br /> (MP: 10% of MP)
	<br /> (정보: 치유 량 = (100+lvl.)/2 + (MP cost x 3)
	<br /> 
	<br /> D) ★탈출
	<br /> 마지막으로 방문한 마을로 돌아가기
	<br /> (MP: 1)
	<br /> 
	<br /> E) *올 어라운드
	<br /> 모든 저항, 공격속성 증가
	<br /> (MP: 120)
	<br /> (시간: 3 분)
	<br /> (정보: 속성저항 +5% 속성공격 +1%)
	<br /> 
	<br /> F) ★퀵턴
	<br /> 회피율이 일시적으로 증가합니다.
	<br /> (MP: 96)
	<br /> (시간: 2 분)
	<br /> (정보: MP가 96미만인경우 사용 가능하지만, 남은 모든 MP가 소모됩니다.)
	<br /> 
	<br /> G) ★스펠부스트
	<br /> MATK 40% 증가 및 제한시간동안 레벨에 따른 엠피 소모량 증가. 시간은 DEX를 기반으로 측정됩니다. 이 시간동안 회피와 MDEF은 감소합니다.
	<br /> (MP: 20%)
	<br /> (정보:  유지 시간동안 MP 소모 +100%)
	<br /> 
	<br /> H) 자가치유
	<br /> 자연회복 +100%
	<br /> 전투중 사용 할 수 없습니다.
	<br /> (MP: 10)
	<br /> (시간: 30 초)
	<br /> 
	<br /> I) 소닉붐
	<br /> 거리에 따라 데미지가 증가하는 바람 속정 마법 공격
	<br /> (MP: 24)
	<br /> 
	<br /> J) 다크블래스트
	<br /> 암흑 마법 공격을 합니다.
	<br /> (MP: 36)
	<br /> 
	<br /> K) ★더블어택 (패시브)
	<br /> 물리 공격시 2회 공격을 할 확률이 있습니다.
	<br /> 두번째 공격은 일반 공격의 1.2배 입니다.
	<br /> 
	<br /> L) 듀얼 블로
	<br /> 일반 데미지의 두배가 되는 공격을 합니다. 스킬 딜레이가 단축가능합니다.
	<br /> (MP: 30 + MP x 0.02)
	<br /> (정보: 필수 스킬 딜레이 -2 초)
	<br /> 
	<br /> M) ★하이 사이클
	<br /> 공격 속도를 높입니다. 특정 ASPD를 유지합니다. 기존 ASPD오프셋은 무시됩니다.
	<br /> (MP: 513 - AGI)
	<br /> (시간: 1 분)
	<br /> 
	<br /> N) ★하이드 어택(패시브)
	<br /> 크리티컬률 = 증오 0 일때 100%
	<br /> 일부 스킬의 경우 데이미지가 2배입니다.
	<br /> 
	<br /> O) 하드 히트
	<br /> 강력한 물리적인 공격
	<br /> (MP: 24)
	<br /> 
	<br /> P) 뱀파이어 블로우 
	<br /> 데미지로부터 HP를 흡수합니다. 입힌 데미지의 28-38%정도를 흡수합니다.
	<br /> (MP: 56)
	<br /> 
	<br /> Q) 보호
	<br /> DEF 40 증가시킵니다.
	<br /> (MP: 30)
	<br /> (시간: 3 분)
	<br /> 
	<br /> R) 프로보크
	<br /> 적을 자극합니다. 당신에 대한 공격성을 높입니다.
	<br /> (MP: 4)
	<br /> 
	<br /> S) 호밍
	<br /> 정확도 증가
	<br /> (MP: 24)
	<br /> (시간: 2 분)
	<br /> 
	<br /> T) 마나 웨이브
	<br /> LV 1 마나웨이브를 배웁니다. 
	<br /> 
	<br /> U) ★라이프 챠지
	<br /> 발동되면 매초마다 HP 10%씩 회복합니다. DEF가 감소하고 이동 할 수 없습니다. 보스 맵과 레이드 맵에서는 사용 할 수 없습니다. 
	<br /> (MP: 12)
	<br /> (시간: 10 초)
	<br /> (정보: 스킬 딜레이 = 10 초. 단축 가능., DEF -900%)
	<br /> 
	<br /> V) ★큰 방패
	<br /> ATK, MATK를 감소시켜 받는 데미지를 일시적으로 25% 감소 시킵니다. 기술을 사용 하려면 추가 장비에 방패를 장비 해야 합니다.
	<br /> (MP: 20)
	<br /> (시간: 2 분)
	<br /> (정보: ATK AND MATK -25%)
	<br /> 
	<br /> 
	<br /> =스테이터스=
	<br /> 
	<br /> STR + 1
	<br /> STR + 2 (☆)
	<br /> INT + 1
	<br /> INT + 2 (☆)
	<br /> VIT + 1
	<br /> VIT + 2 (☆)
	<br /> AGI + 1
	<br /> AGI + 2 (☆)
	<br /> DEX + 1
	<br /> DEX + 2 (☆)
	<br /> CRT + 1
	<br /> CRT + 2 (☆)
	<br /> All Stats +1 (☆)
	<br /> MaxHP + 75
	<br /> MaxHP + 100 (☆)
	<br /> MaxMP + 25
	<br /> MaxMP + 50 (☆)
	<br /> HP 자연회복 +15
	<br /> HP 자연회복 +25 (☆)
	<br /> MP 자연회복 +5
	<br /> MP 자연회복 +15 (☆)
	<br /> 아이템 회복 + 2%
	<br /> 아이템 회복 + 4% (☆)
	<br /> 회피 +4
	<br /> 회피 +6 (☆)
	<br /> 크리티컬 율 +1
	<br /> 크리티컬 율 +2 (☆)
	<br /> 힐 증가량 +50
	<br /> 힐 증가량 +75 (☆)
	<br /> 물리력 +10
	<br /> 물리력 +20 (☆)
	<br /> 물리관통 + 1%
	<br /> 물리관통 + 2% (☆)
	<br /> 정확도 +4
	<br /> 정확도 +6 (☆)
	<br /> 
	<br /> 애완동물 합성
	<br /> 애완동물을 합성하려면 펫 Lv100이 되어야 합니다. 
	<br /> 
	<br /> 요구사항
	<br /> 두 애완동물의 Lv10 
	<br /> 두 애완동물의 친화력 1000 이상 
	<br /> 100 섬 포인트 
	<br /> 
	<br /> 합성의 성공 및 실패
	<br /> 펫 합성을 수행하면 사용한 펫을 모두 잃고, 그 경과로 생성된 펫은 선택한 첫번째 펫의 외양을 가지고 돌아옵니다. 스텟/아핀/스테미나 0인 레벨1로 돌아가고, 이름을 다시 지정해야 합니다.
	<br /> 합성이 실패하면 아무일도 일어나지 않지만, 섬 포인트 100점을 소모합니다.
	<br /> 
	<br /> 애완동물 기술 상속
	<br /> 합성중, 애완동물이 기술을 가지고 있다면, 새 애완동물에게 상속할지 여부를 선택 할 수 있습니다. 두 펫이 각각 스킬을 가지고 있는 경우, 합성을 통해 계승할 스킬을 선택 할 수 있습니다. 
	<br /> 
</div>