<div class="container-fluid" id="list">
	<h1 class="h3 mb-2 text-gray-800" id="title"></h1>
</div>

<script>
	let data = JSON.parse('[(${data})]');
	let title = '[(${title})]';
	$("#title").text(title);
	
	for (idx in data){
		var text = '';
		var items = data[idx];
		var KO_NAME = items.KO_NAME;
		var JP_NAME = items.JP_NAME;
		var EN_NAME = items.EN_NAME;
		var USE_YN = items.USE_YN;
		
		if (USE_YN == "Y"){
			text += '<div class="card shadow mb-4">';
			text += '<div class="card-header py-3">';
			text += '<h6 class="m-0 font-weight-bold text-primary">'+KO_NAME+'</h6>';
			text += '</div>';
			text += '<div class="card-body">';
			text += '일본어 명 : '+JP_NAME+'<br>';
			text += '영어 명 : '+EN_NAME;
			text += '</div>';
			text += '</div>';
			
			$("#list").append(text);
		}
		
	}	
	
</script>